  <h1>Profile</h1>

<div class="row">
  <div class="col s6">
    {{#if user.avatarUrl}}
      <img
        {{!-- src="https://i.pinimg.com/originals/9c/77/46/9c7746225873e02d83b9315501b8dd2f.jpg" --}}
        src={{user.avatarUrl}}
        alt="avatar-{{user.name}}"
        class="avatar-img"
      >
    {{else}}
      <p>Avatar not found</p>
    {{/if}}
  </div>
  <div class="col s6">
    <h5>Your email <strong>{{user.email}}</strong></h5>
    <form action="/profile" method="POST" enctype="multipart/form-data">
      <div class="input-field">
        <input id="name" name="name" type="text" class="validate" value={{user.name}}>
        <label for="name">Name</label>
        <span class="helper-text" data-error="Enter name"></span>
      </div>

      <div class="file-field input-field">
        <div class="btn">
          <span>Avatar</span>
          <input type="file" name="avatar">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
      </div>

      <input type="hidden" name="_csrf" value="{{csrf}}">
      <button class="btn btn-primary" type="submit">Save</button>
    </form>
  </div>
</div>
